:root {
  --primary-color: #829460;
  --secondary-color: #674747;
  --highlight-color: #f96666;
  --textbox-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

button {
  padding: 0 0.5em;
}

input[type='text'],
button,
textarea {
  background-color: var(--textbox-color);
}
